In [46]:
import mysql
sql=mysql.connector.connect(
host="localhost",
user="root",
password="Abhi8130",
database="Mishra")
sq=sql.cursor()
sq.execute("Show tables")
for i in sq:
    print(i)

('Customer',)

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Abhi8130"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

SyntaxError: invalid syntax (3694726923.py, line 3)

In [66]:
"""Creating a Table
To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection
"""

import mysql
sql=mysql.connector.connect(
host="localhost",
user="root",
password="Abhi8130",
database="mydatabase"
)
sq=sql.cursor()
sq.execute("create table customer(name varchar(255),address varchar(255))")

In [92]:
"""
Insert Into Table
To fill a table in MySQL, use the "INSERT INTO" statement.
"""
import mysql
sql=mysql.connector.connect(
host="localhost",
user="root",
password="Abhi8130",
database="mydatabase"


)
sq=sql.cursor()
value=("Kapil","tigri")
q=("insert into customer(name,address) value(%s,%s)")
sq.execute(q,value)
# Store in database that why use commit command to insert data in database
sql.commit()
print(sq.rowcount,"Insertes")
#Important!: Notice the statement: mydb.commit(). It is required to make the changes,
#otherwise no changes are made to the table.

1 Insertes

In [105]:
"""Insert Multiple Rows
To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:

"""
import mysql
sql=mysql.connector.connect(
host="localhost",
user="root",
password="Abhi8130",
database="mydatabase"


)
sq=sql.cursor()
q="insert into customer value(%s,%s)"
v=[("Aman","vijay nagar"),("Sachin","Tigri")]
sq.executemany(q,v)
sql.commit()
print(sq.lastrowid,"inserted")
# Note: If you insert more than one row, the id of the last inserted row is returned.
print(sq.lastrowid)

0 inserted
0

# Select From a Table
To select from a table in MySQL, use the "SELECT" statement:

In [5]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
sq.execute("Select * from customer")
a=sq.fetchall()
for i in a:
    print(i)

('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Kapil', 'tigri')
('Aman', 'vijay nagar')
('Sachin', 'Tigri')
('Aman', 'vijay nagar')
('Sachin', 'Tigri')
('Aman', 'vijay nagar')
('Sachin', 'Tigri')
('Aman', 'vijay nagar')
('Sachin', 'Tigri')
('Aman', 'vijay nagar')
('Sachin', 'Tigri')

# Note: We use the fetchall() method, which fetches all rows from the last executed statement.

# Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s)

In [8]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
    
)
sq=sql.cursor()
sq.execute("select name from customer")
a=sq.fetchall()
for i in a:
    print(i)

('Abhishek',)
('Abhishek',)
('Abhishek',)
('Abhishek',)
('Abhishek',)
('Kapil',)
('Aman',)
('Sachin',)
('Aman',)
('Sachin',)
('Aman',)
('Sachin',)
('Aman',)
('Sachin',)
('Aman',)
('Sachin',)

# Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

In [12]:
import mysql.connector as ms
sql=ms.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
sq.execute("Select * from customer")
fc=sq.fetchone()
for i in fc:
    print(i)

Abhishek
Behrampur

# Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [15]:
import mysql.connector as mc
sql=mc.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
sq.execute("Select * from customer where address='tigri'")
a=sq.fetchall()
for i in a:
    print(i)

('Kapil', 'tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')

# Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters:

In [24]:
import mysql.connector as mc
sql=mc.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
sq.execute("Select * from customer where name like 'Am%'")
a=sq.fetchall()
for i in a:
    print(i)

('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')

# Sort the Result
Use the ORDER BY statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [28]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="Select * from customer order by name,address " 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Kapil', 'tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')
('Sachin', 'Tigri')

In [45]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="Select * from customer order by address desc " 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Kapil', 'tigri')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')
('Abhishek', 'Behrampur')

# Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

In [46]:
import mysql.connector as mc
sql=mc.connect(
    host="localhost",
    user="root",
    password='Abhi8130',
    database="mydatabase"
)
sq=sql.cursor()
#q="delect from customner where name='sachin' and address='tigri'"
sq.execute("delete from customer where name='sachin' and address='tigri'")
sql.commit()
print(sq.rowcount)

0

# Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

In [48]:
#Notice the WHERE clause in the DELETE syntax: The WHERE clause specifies which record(s) that should be deleted.
#If you omit the WHERE clause, all records will be deleted!

In [51]:
import mysql.connector as mc
sql=mc.connect(
    host="localhost",
    user="root",
    password='Abhi8130',
    database="mydatabase")
sq=sql.cursor()
sq.execute("show tables")
for i in sq:
    print(i)

('customer',)
('customer1',)
('customers',)

In [53]:
import mysql.connector as mc
sql=mc.connect(
    host="localhost",
    user="root",
    password='Abhi8130',
    database="mydatabase")
sq=sql.cursor()
sq.execute("select * from customers")
a=sq.fetchall()
for i in a:
    print(i)

('John', 'Highway 21')
('John', 'Highway 21')

In [57]:
import mysql.connector as mc
sql=mc.connect(
    host="localhost",
    user="root",
    password='Abhi8130',
    database="mydatabase")
sq=sql.cursor()
sq.execute("drop table customer1")

ProgrammingError: 1051 (42S02): Unknown table 'mydatabase.customer1'

In [56]:
import mysql.connector as mc
sql=mc.connect(
    host="localhost",
    user="root",
    password='Abhi8130',
    database="mydatabase")
sq=sql.cursor()
sq.execute("show tables")
for i in sq:
    print(i)

('customer',)
('customers',)

In [63]:
# if  not exits 
import mysql.connector as mc
sql=mc.connect(
    host="localhost",
    user="root",
    password='Abhi8130',
    database="mydatabase")
sq=sql.cursor()
sq.execute("drop table if exists customer1 ")
# not error mean execute the querey

# Update Table
You can update existing records in a table by using the "UPDATE" statement:

In [66]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Abhi8130",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customer SET address = 'Canyon 123' WHERE address = 'Behrampur'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

5 record(s) affected

# Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [69]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="Select * from customer order by name " 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Kapil', 'tigri')

In [70]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="Select * from customer order by name limit 5 offset 5 " 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')
('Aman', 'vijay nagar')

In [71]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="Select * from customer order by name limit 5" 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')
('Abhishek', 'Canyon 123')

# Join Two or More Tables
You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

Consider you have a "users" table and a "products" table:

In [83]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="insert into customers value('Abhishke','Tigri')" 
sq.execute(q)
sql.commit()
print(sq.rowcount)

1

In [88]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="select * from customers" 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('John', 'Highway 21')
('John', 'Highway 21')
('Abhishek', 'Tigri')
('Abhishek', 'Tigri')

In [89]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="select * from customer inner join customers on customer.address=customers.address" 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('Kapil', 'tigri', 'Abhishek', 'Tigri')
('Kapil', 'tigri', 'Abhishek', 'Tigri')

In [90]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="select * from customer right join customers on customer.address=customers.address" 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

(None, None, 'John', 'Highway 21')
(None, None, 'John', 'Highway 21')
('Kapil', 'tigri', 'Abhishek', 'Tigri')
('Kapil', 'tigri', 'Abhishek', 'Tigri')

In [91]:
import mysql.connector
sql=mysql.connector.connect(

    host="localhost",
    user="root",
    password="Abhi8130",
    database="mydatabase"
)
sq=sql.cursor()
q="select * from customer left join customers on customer.address=customers.address" 
sq.execute(q)
a=sq.fetchall()
for i in a:
    print(i)

('Abhishek', 'Canyon 123', None, None)
('Abhishek', 'Canyon 123', None, None)
('Abhishek', 'Canyon 123', None, None)
('Abhishek', 'Canyon 123', None, None)
('Abhishek', 'Canyon 123', None, None)
('Kapil', 'tigri', 'Abhishek', 'Tigri')
('Kapil', 'tigri', 'Abhishek', 'Tigri')
('Aman', 'vijay nagar', None, None)
('Aman', 'vijay nagar', None, None)
('Aman', 'vijay nagar', None, None)
('Aman', 'vijay nagar', None, None)
('Aman', 'vijay nagar', None, None)